.about {
    font-size: 25px;
    text-indent: 30px;
    line-height: 40px;
    text-align: justify;
    background-color: black;
    color: white;
    margin: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.menu {
    background-color: black;
}

.menu li {
    list-style-type: none;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.logo {
    background: url(aleksandr.jpg);
    height: 600px;
    background-size: cover;
    text-align: center;
}

h1 {
    color: white;
    font-size: 70px;
    padding-top: 150px;
}

.logo p {
    padding-top: 100px;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

footer {
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: black;
}